
.lang-menu a {
  display: block;
  text-decoration: none;
  outline: none;  
  transition: .3s ease-in-out;
}

.lang-menu > li {
  position: relative;
}
.lang-menu > li > a {
  font-size: 14px;
  font-weight: 600;
  color:rgba(0,0,0,0.7);
  padding: 15px 30px;
}
.lang-menu li a:hover {color: #000;}


.submenu {
  background: #dcdcdcad;
  position: absolute;
  width: 180px;
  opacity: 0;
  transform: scaleY(0.5);
  transform-origin :0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: rgba(0,0,0,0.7);
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid white;
}
.submenu li:last-child a {border-bottom: none;}
.lang-menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}