/* по умолчанию*/
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Open Sans'; */
    font-family: 'Montserrat';
    color: 000;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

/*header*/

.header{
    background: #DCDCDC;
}



.container{
    width: 1170px;
    margin: 0 auto; 
}

.nav{
    display: flex;
    align-items: center;

}



.menu{
    display: flex;
}
.menu li a{
    text-decoration: none;
    color: #000;
    opacity: 70%;

}
.menu li a:hover{
    opacity: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.7);
}
.menu li{
    margin-right: 30px;
}

.search{
    display: flex;
    align-items: center;
}

.search-sq{
    width: 30px;
    height: 30px;
    position: relative;
    background: #8AC3CB;
    border-radius: 7px 0 0 7px;
}
.search-sq img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
}
.search input{
    height:  28px;
    padding: 0;
    margin: 0;
    /* top: 0;left: 0;right: 0;bottom: 0; */
    border-radius: 0 7px 7px 0;
    background: linear-gradient(to bottom left, #9F9F9F, #686969 );
    
}